/* Main Colors */
$darkBlue: #202A43;
$darkBlueSidebar: #141B2C;
$blueMenu: #212944;
$veryLightBlue: #CBDDF0;
$white: #ffffff;
$veryLightGray: #f7f7f7;
$ligthGray: #dadada;
$middleGray: #b3b3b3;
$redHighPriority: #CD5050;
$blueHighPriority: #425277;
$greenDone: #82C94E;
$azzurro: #4788C7;
$lightAzzurro: #74ACE2;
$veryDarkBG: #020713;
$blackTransp: rgba(0, 0, 0, 0.7);

/* responsive breakpoints */
$mobileBreakpoint: 600px;
$tabletBreakpoint: 1150px;